    body {
    font-size: 22px;
    font-family: 'Quicksand', sans-serif;}

 
    .category {
        display: flex;
        justify-content: center;
        border-bottom: 2px dashed black;
        
    }
    .category__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 30px;
        background-color: rgb(201, 201, 201);
        margin: 20px;
    }
    .category__img {
        max-width: 70px;
        max-height: 70px;
        margin: 10px;
    }
    .category__img img {
        width: 100%;
    }
    .title__name span {
        font-weight: bold;
        text-transform: capitalize;
    }
    .category__title span {
        font-weight: bold;
    }